.row.search
  .col-md-6.col-md-offset-3
    .input-group
      %input{type:"text", class:"form-control", id:"tags", placeholder:"Enter City"}
      %span{class:"input-group-btn"}
        %button{class:"btn btn-default beer-finder", type:"button"}Search
%br
.loading.text-center
  Loading
  %i{class:"fa fa-spinner fa-pulse"}
%br
= link_to 'Build a Brew Tour', brew_tours_path, class: 'btn btn-primary brew-tour-link'
%button{class:'btn btn-primary best-ratings pull-right', type: "button"}Sort By Best Rated
%br
%table{class:"table table-striped", id: 'brew-table'}
  %thead
    %th Brewery
    %th Avg Rating
    %th Address
    %th City
    %th State
    %th Zipcode
    %th Website
  %tbody{id: 'brew-tbody'}
