.page-header
  .text-center
    %h3= "#{@state.name} has #{pluralize(@state.breweries.count, 'brewery')} "
- @state.breweries.each do |brewery|
  .well
    = brewery.name
    .pull-right
      - if brewery.website
        =link_to brewery.website, brewery.website
