%iframe{class: 'user-brew-tour-map', frameborder:"0", style:"border:0", src:"https://www.google.com/maps/embed/v1/directions?key=#{ENV['secret_google_key']}#{@brew_tour.origin_and_origin}#{@brew_tour.query}"}
